.sign_up{
  width: '400px';
  margin: '50px auto';
  padding: '2rem';
}

button.sign_in{
  border: 1px solid black;
  margin: 5px;
}

button.sign_up{
  border: 1px solid black;
  margin: 5px;
}

button.selected_button{
  background-color: lightgrey;
}

.article{
  width:60%;
  min-width: 50%;
  max-width: 70%;
  border: 1px solid black;
  background-color: white;
  margin:5px;
}

.profile{
  position: relative;
  /* top:  -30% !important; */
  left: 10% !important;
}

.odd{
  background-color: lightgrey;
}
.even{
  background-color: white;
}
