.reply{
  border: 1px solid black;
  margin: 5px;

}

.replies{
  border: 1px solid black;
  margin: 5px;
  padding-left: 30px;
  margin-left: 30px;
}
.reply_button{
  border: 1px solid darkgrey;
  margin: 5px;
}
.article_header{
  border: 1px solid black;
  background: lightgrey;
  width:100%;
  min-width: 100%;
}
span.article_header{
  border: 1px solid black;
}
