.dropbtn {
    background-color: grey;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
    right:0px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #lightgrey}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    animation: fadein 0,5s  ;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #lightgrey;
}
.navi {
  position: sticky;
  align-items: stretch;
  top: 0px;
  height: 5%;
  min-height: 50px;
  max-height: 200px;
  width: 100%;
  background-color: grey;
  color: black;
  margin: 0px;
  padding: 0px;
  z-index: 1;
}

.navText{
  position: relative;
  right: 0px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.sidebar {
  position: sticky;
  top: 20%;
  left:5%;
  width: 10%;
  min-width: 100px;
  max-width: 300px;
  height: auto;
  background-color: grey;
  color: black;
  border: 1px solid black;
  margin: 0px;
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: 5px 5px lightgrey; */
}

.logo{
  position: relative;
  width:5%;
  left:0px;
}
